.bg-img1 {
    background-color: #000;
    /* background-size: cover; */
    background-image: url("https://mdbootstrap.com/img/new/slides/006.jpg");
    display: block;
    width: 100%;
}

.bg-img2 {
    /* background-color: #000; */
    background-size: cover;
    background-image: url("https://mdbootstrap.com/img/new/slides/003.jpg");
}
.bg-img3 {
    /* background-color: #000; */
    background-size: cover;
    background-image: url("https://mdbootstrap.com/img/new/slides/004.jpg");
}
